html {
    color: blueviolet;
}

/*
body {
    color: blue;
    background-color: cornsilk;
}

#000000

*/

h1 {
    color: #4b375e;
    background-color: bisque;
    font-family: "arial";
}

.cis-260 {
    font-family: cursive
}

.test {
    background-color: darkgreen;
}

.link {
    background-color: thistle;
}

p {
    color: palevioletred;
    font-size: 48;
    background-color: palegoldenrod
}


a {
    color: red;
}

h2 {
    font font-family: sans-serif;
    font-weight: 600;
}

